# Зависимости (их качаем через npm install)
node_modules
server/node_modules

# Готовая сборка (создается автоматически на GitHub)
dist

# Логи и временные файлы
*.log
.DS_Store
.env

# Настройки редакторов
.vscode/
.idea/