# Зависимости
node_modules
server/node_modules

# Логи и временные файлы
*.log
.DS_Store
.env

# Настройки редакторов
.vscode/
.idea/

# Папка сборки (dist) - игнорируем, так как это результат компиляции
dist